<form action="/baristas/<%= @barista.id%>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<input type="hidden" name="_method" value="PATCH"/>
	<h1>Edit</h1>
	<input type='text' name='barista[name]' value="<%= @barista.name%>"/>Name<br/>
  <input type='checkbox' name='barista[full_time]' value="<%= @barista.full_time%>"/>Full time?<br/>
  <input type='number' name='barista[hours_worked]' value="<%= @barista.hours_worked%>"/>Hours worked<br/>
  <input type="submit" value="Update Barista"/>
</form>
